*.swp
*.DS_Store
*.pyc
*.lime

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
notes
tmp
MANIFEST
log/*
!log/.keep
.cache
.coverage
htmlcov
docs/_build
.vagrant
*.ko
*.log
!tests/files/*.yml
